h1{
    margin: 0 auto;
    font-family: Hind Madurai, Arial, sans-serif;
    margin-top: 20px;
    color: gray;
    margin-left: 20px;
}

form{
    margin-top: 20px;
}

input,label{
    margin-left: 20px;
}

label{
    color: gray;
    margin-top: 0px;
}

input{
    margin-bottom: 5px;
    border: 1px solid rgb(199, 199, 199);
    width: 70%;
    height: 40px;
}

button{
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 70%;
    margin: 0 auto;
    border-radius: 3px;
    font-size: 1.1rem;
    margin-left: 20px;
}



